name: MSBuild 

on:
  push:
    branches: [ "main" ]
    
jobs:
  build: 
    permissions:
      contents: read
      
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Build
      run: |
        chmod +x build.sh
        ./build.sh

    - name: Build docker
      run: |
        cd docker
        docker build -f network --platform linux/amd64 -t image:current .
        docker images

    - name: Login to Container Registry
      uses: docker/login-action@v1
      with:
        username: ${{ secrets.REGISTRY_USERNAME }}
        password: ${{ secrets.REGISTRY_PASSWORD }}

    - name: Tag image
      run: | 
          docker tag image:current ilia56/network_image:latest
  
    - name: Push image to docker hub Container Registry
      run: | 
          docker push ilia56/network_image:latest
